<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Workout</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="manifest" href="/manifest.json">
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js').then(registration => {
          console.log('Service Worker registered with scope:', registration.scope);
        }, error => {
          console.log('Service Worker registration failed:', error);
        });
      });
    }
  </script>
</head>
<body>
  <header>
    <a href="/"><img src="/logo.webp" alt="Daily Workout Logo" class="logo"></a>
  </header>
  <main>
    <div id="swipeArea">
      <div class="navigation">
        <div class="button-container">
        <% if (previous) { %>
          <a href="/<%= previous %>"><button class="emoji-button">⬅️</button></a>
        <% } %>
        </div>
        <h1><%= workout.date %></h1>
        <div class="button-container">
        <% if (next) { %>
          <a href="/<%= next %>"><button class="emoji-button">➡️</button></a>
        <% } %>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>Exercise</th>
            <th>Reps</th>
          </tr>
        </thead>
        <tbody>
          <% workout.exercises.forEach(exercise => { %>
            <tr>
              <td><b><a href="https://www.youtube.com/@darebees/search?query=<%= exercise.name %>"><%= exercise.name %></a></b></td>
              <td><%= exercise.reps %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </main>
  <footer>
    <p> <a href="<%= repoUrl %>">Fork me on GitHub</a> - Commit ID: <a href="<%= repoUrl %>/commit/<%= commitId %>"><%= shortCommitId %></a></p>
  </footer>
  <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>

  <% if (previous) { %>
    <script>
      var swipeArea = document.getElementById('swipeArea');
      var mc = new Hammer(swipeArea);
      mc.on("panright", function(ev) {
        window.location.href = '/<%= previous %>';
      });
    </script>
  <% } %>

  <% if (next) { %>
    <script>
      var swipeArea = document.getElementById('swipeArea');
      var mc = new Hammer(swipeArea);
      mc.on("panleft", function(ev) {
        window.location.href = '/<%= next %>';
      });
    </script>
  <% } %>

</body>
</html>
