<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Workout</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="manifest" href="/manifest.json">
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js').then(registration => {
          console.log('Service Worker registered with scope:', registration.scope);
        }, error => {
          console.log('Service Worker registration failed:', error);
        });
      });
    }
  </script>
</head>
<body>
  <header>
    <a href="/"><img src="/logo.webp" alt="Daily Workout Logo" class="logo"></a>
  </header>
  <main>
    <div class="navigation">
      <% if (previous) { %>
        <a href="/<%= previous %>"><button class="emoji-button">⬅️</button></a>
      <% } else { %>
        <a href="#"><button class="emoji-button" disabled>⬅️</button></a>
      <% } %>

      <h1><%= workout.date %></h1>
      <% if (next) { %>
        <a href="/<%= next %>"><button class="emoji-button">➡️</button></a>
      <% } else { %>
        <a href="#"><button class="emoji-button" disabled>➡️</button></a>
      <% } %>
    </div>
    <table>
      <thead>
        <tr>
          <th>Exercise</th>
          <th>Reps</th>
        </tr>
      </thead>
      <tbody>
        <% workout.exercises.forEach(exercise => { %>
          <tr>
            <td><%= exercise.name %></td>
            <td><%= exercise.reps %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </main>
  <footer>
    <p> <a href="<%= repoUrl %>">Fork me on GitHub</a> - Commit ID: <a href="<%= repoUrl %>/commit/<%= commitId %>"><%= shortCommitId %></a></p>
  </footer>
</body>
</html>
